<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% if error %}
<p><strong>{{ error }}</strong></p >
{% endif %}
<h1> Login Page </h1>
    <form method="post">
       {% csrf_token %}
      <label for="username">User Name:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
    </form>
</body>
</html>