<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>
        <a href="{% url 'index' %}">HomePage</a>
    </div>

    <div style="display: inline-block; margin-right: 20px;">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <img src="{{ product.img_url }}" alt="{{ product.name }}" style="width: 150px;">
        <form method="POST" ACTION="{% url 'add2cart' product.id %}">
            {% csrf_token %}
            <button type="submit"> Add to Cart</button>
        </form>


        <h2>Hard-coded Comments</h2>
        <p>good, sweet, healthy! </p>
    </div>

</body>
</html>